<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
	</head>
	<body>
		<h1>试用Directive自定义html组件</h1>
		<dl class="dl-horizontal" ng-app="app">
			<dt>restrict的含义与应用</dt>
			<dd>
				<hello></hello>
				<div alert></div>
				<div class="class"></div>
			</dd>
			<dt>replace的使用</dt>
			<dd></dd>
			<dt>template的使用</dt>
			<dd></dd>
		</dl>ective和Controller之间的会话</h1>
		<h1>使用angular.element操作dom</h1>
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/directive.js"></script>
	</body>
</html>
