body{ font-size:12px; font-family: "宋体";}
.list-inline{ margin:0;}

.ml17{ margin-left:17px;}
.ml21{ margin-left:21px;}
.mr6{ margin-right: 6px;}

.color-666{ color:#666;}
.color-716{ color:#716250;}
.color-886{ color:#886641;}

.size-14{ font-size:14px;}
.size-15{ font-size:15px;}

.family-w{ font-family: "微软雅黑";}
