<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>原型继承</h1>
		<p>
			代码解析：
		</p>
		<p>
			create()函数返回一个新对象，这个对象继承自Model对象，我们使用它来创建新模型。
		</p>
		<p>
			init()函数返回一个新对象，它继承自Model.prototype。
		</p>
		<script>
			if(typeof Object.create !== "function"){
				Object.create = function(o){
					function F(){}
					F.prototype = o;
					return new F();
				}
			}
			var Model = {
				inherited: function(){},
				created: function(){},
				prototype: {
					init: function(str){
						console.log(str);
					}
				},
				create: function(){
					var object = Object.create(this);
					object.parent = this;
					object.prototype = object.fn = Object.create(this.prototype);
					object.created();
					this.inherited(object);
					return object;
				},
				init: function(){
					var instance = Object.create(this.prototype);
					instance.parent = this;
					instance.init.apply(instance, arguments);
					return instance;
				}
			};
			var Asset = Model.create();
			var User = Model.create();
			var user = User.init("User"); 
		</script>
	</body>
</html>
