<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<script>
			if(typeof Object.create !== "function"){
				Object.create = function(o){
					function F(){}
					F.prototype = o;
					return new F();
				}
			}
			var Model = {
				inherited: function(){},
				created: function(){},
				prototype: {
					init: function(str){
						console.log(str);
					}
				},
				create: function(){
					var object = Object.create(this);
					object.parent = this;
					object.prototype = object.fn = Object.create(this.prototype);
					object.created();
					this.inherited(object);
					return object;
				},
				init: function(){
					var instance = Object.create(this.prototype);
					instance.parent = this;
					instance.init.apply(instance, arguments);
					return instance;
				}
			};
			var Asset = Model.create();
			var User = Model.create();
			var user = User.init("User"); 
		</script>
	</body>
</html>
