<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>持久化记录</h1>
		<p>
			我们需要一种保持记录持久化的方法，即将引用保存至新创建的实例中以便任何时候都能访问它。我们在Model中使用records来实现。当我们保存一个实例的时候，就将它添加到一个对象中，当删除实例的时候，就将它从对象中删除。
		</p>
		<script src="../../js/jquery-1.11.2.min.js"></script>
		<script>			
			if(typeof Object.create !== "function"){
				Object.create = function(o){
					function F(){}
					F.prototype = o;
					return new F();
				}
			}
			var Model = {
				inherited: function(){},
				created: function(){},
				prototype: {
					init: function(str){
						console.log(str);
					}
				},
				create: function(){
					var object = Object.create(this);
					object.parent = this;
					object.prototype = object.fn = Object.create(this.prototype);
					object.created();
					this.inherited(object);
					return object;
				},
				init: function(){
					var instance = Object.create(this.prototype);
					instance.parent = this;
					instance.init.apply(instance, arguments);
					return instance;
				},
				extend: function(o){
					var extended = o.extended;
					jQuery.extend(this, o);
					if(extended)
						extended(this);
				},
				include: function(o){
					var included = o.included;
					jQuery.extend(this.prototype, o);
					if(included)
						include(this);
				}
			};
			
			//添加对象属性
			Model.extend({
				find: function(name){
					console.log(name);
				}
			});
			//添加原型属性
			Model.include({
				init: function(attrs){	//覆盖了上面的的init方法
					for(var attr in attrs){
						console.log(attr + ": " + attrs[attr]);
					}
				},
				load: function(attributes){}
			});
			
			//用来保存资源的对象
			Model.records = {};
			
			Model.include({
				newRecord: true,
				create: function(){
					this.newRecord = false;
					this.parent.records[this.id] = this;
				},
				destory: function(){
					delete this.parent.records[this.id];
				}
			});
			
			//更新已存在的实例
			Model.include({
				update: function(){
					this.parent.records[this.id] = this;
				}
			});
			
			//保存实例
			Model.include({
				save: function(){
					this.newRecord ? this.create() : this.update();
				}
			});
			
			//根据ID查找资源
			Model.extend({
				//通过ID查找，找不到则抛出异常
				find: function(id){
					return this.records[id] || alert("Unknow record");
				}
			});
			
			//使用
			var Asset = Model.create();
			var asset = Asset.init();
			asset.name = "same, same";
			asset.id = 1;
			asset.save();
			console.log(Asset.find(1));
		</script>
	</body>
</html>
