<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.red{ background:red;}
		</style>
	</head>
	<body>
		<ul id="ul">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
		</ul>
		<script src="../../js/jquery-1.11.2.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#ul").on("mouseover", "li", function(){
					$(this).addClass("red");
				}).on("mouseout", "li", function(){
					$(this).removeClass("red");
				});
				
				$("body").bind({
					mouseover: function(){
						$(this).addClass("red");
					},
					mouseout: function(){
						$(this).removeClass("red");
					}
				});
			});
		</script>
	</body>
</html>
